FIREBASE_API_KEY=AIzaSyC1LxznNV8TgjKhKxzmtMwfUqV8miw3NRs
FIREBASE_AUTH_DOMAIN=portfolio-1a3e7.firebaseapp.com
FIREBASE_PROJECT_ID=portfolio-1a3e7
FIREBASE_STORAGE_BUCKET=portfolio-1a3e7.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=845239057245
FIREBASE_APP_ID=1:845239057245:web:83863409ebc9a2a63a06b4
FIREBASE_MEASUREMENT_ID=G-RRFGH3SPL2